.modal-background{
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
    background: lightgray;
    opacity: 0.4;
}
.modal-container{display: none;}
.cm-modal{
    position: fixed;
    display: grid;
    top: calc(40% - 150px);
    left: calc(50% - 225px);
    width: 450px;
    min-height: 200px;
    background: white;
    background-color: white;
    border-radius: 10px;
    .cm-modal-content{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 100%;
        .cm-modal-header{
            height: 80px;
            display: flex;
            align-items: center;
            padding: 10px;
            .cm-modal-title{
                color: black;
                font-weight: bold;
            }
        }
        .cm-modal-body{
            height: 100%;
            padding: 10px;
            display: flex;
            justify-content: center;
        }
        .cm-modal-footer{
            display: flex;
            flex-direction: column;
            align-items: center;
            height: 90px;
            padding: 10px 10px;
        }
    }
    .cm-icon-info{
        color: green;
        font-size: 20px;
        background: rgb(178, 236, 178);
        padding: 5px;
        width: 35px;
        border-radius: 50%;
        height: 35px;
    }
    .cm-icon-warning{
        color: rgb(187, 33, 33);
        font-size: 20px;
        background: rgb(238, 195, 197);
        padding: 5px;
        width: 35px;
        border-radius: 50%;
        height: 35px;
    }
    .cm-icon-confirm{
        color: rgb(67, 67, 219);
        font-size: 20px;
        background: rgb(223 223 237);
        padding: 5px;
        width: 35px;
        border-radius: 50%;
        height: 35px;
    }
    .justify-center{
        display: flex;
        justify-content: center;
    }
    .btn{
        margin: 5px 5px;
        width: 100%;
    }
    button{
        background: #1877F2;
        border: unset;
        border-radius: 5px;
        height:35px ;
        color: white;
        transition: all 0.2s !important;
    }
    button:hover{
        background: #518cda;
    }
    .btn-close{
        background: white;
        border: 1px solid lightgray;
        color: black;
    }
    .btn-close:hover{
        background: rgb(241, 241, 241);
    }
    
    .btn-error{
        background: rgb(247, 77, 77);
        border: 1px solid lightgray;
        color: white;
    }
    .btn-error:hover{
        background: rgb(240, 49, 49);
    }
}
