.Logo {
    text-align: center;

    .logo-text {
        font-family: 'Dancing Script', cursive;
        font-size: 2rem;
    }

    @media only screen and (max-width: 1076px) {
        .logo-text {
            font-size: 1.5rem;
        }
    }
}