.Login-Container {
    width: 100%;

    .Login-Box {
        padding-bottom: 10px;

        .login-logo {
            padding: 20px;
            color: var(--color-green);
        }

        width: 400px;
        border: 2px solid var(--color-green);
        border-radius: 4px;

        .input-line {
            padding: 10px 50px;

            input {
                width: 100%;
                padding: 10px;
                background-color: #fafafa;
                border: none;
                outline: 1px solid #dbdbdb;
                border-radius: 2px;
            }

            .login-btn {
                background-color: var(--color-green);
                color: #fff;
                font-size: 1rem;
                cursor: pointer;

                &:hover {
                    background-color: var(--color-green-hover);
                }
            }

            &.or-name {
                display: flex;
                align-items: center;

                span {
                    width: 20px;
                    height: 1px;
                    background-color: #dbdbdb;
                    flex: 1;
                }

                div {
                    margin: 0 20px;
                    font-size: 0.8rem;
                    font-weight: 500;
                    color: #737373;
                }
            }

            &.register-direct {
                display: flex;
                justify-content: center;
                font-size: .85rem;
                gap: 5px;

                a {
                    text-decoration: none;
                    color: #00b2f9;
                    font-weight: 500;

                    &:hover {
                        text-decoration: underline;
                    }
                }
            }
        }
    }
}