.Modal {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: #59595980;
    z-index: 100;
    display: flex;
    justify-content: center;
    align-items: center;


}