.MainLayout {
    --sidebar-width: 300px;

    width: 100vw;
    height: 100vh;
    overflow: hidden;
    display: flex;
    min-width: 250px;


    .Sidebar-Container {
        width: var(--sidebar-width);
        height: 100%;
        border-right: 1.5px solid #dbdbdb;
    }

    .Content-Container {
        width: 100%;
        min-width: 250px;
    }

    @media only screen and (max-width: 1076px) {
        --sidebar-width: 80px;
    }
}