
.bg{
    background-color: white;
    width: 100%;
    height: 100%;
    overflow-y: scroll;
}
.wrapper-content{
    background-color: white;
    //min-height: 100%;
    border-radius: 5px;
}
.wr-bar-top, .wr-bar-top-1{
    height: 50px;
    width: 100%;
    background-color: var(--color-green);
}
.wr-bar-top-1{
    border-bottom: 1px solid white;
}
.button-holder{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.wr-bar-1{
    height: 50px;
    width: 100%;
    background-color: var(--color-green);
    margin-bottom: 10px;
}
.side-left{
    display: flex;
    flex-direction: row;
}
.side-right{
    display: none;
}
.wr-view{
    display: flex;
    flex-wrap: wrap;
}
.bg-gray{
    background-color: lightgray;
}
.border-left-right-white{
    border-left: 2px solid white !important;
    border-right: 2px solid white !important;
}
.row{
    min-height: 50px;
    width: 100%;
    min-width: 250px;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 5px;
    .row-name{
        display: block;
        width: 30%;
        min-height: 50px;
        padding: 5px;
        font-weight: 700;
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
    } 
    .row-content{
        display: block;
        padding: 5px;
        width: 40%;
        min-height: 50px;
        font-size: 14px;
        text-align: justify;
        border-left: 2px solid lightgray ;
        border-right: 2px solid lightgray ;

        @supports (-webkit-line-clamp: 2) {
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: initial;
            display: -webkit-box;
            -webkit-line-clamp: 2;
            -webkit-box-orient: vertical;
        }
    } 
    .row-alarms{
        width: 30%;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        margin-top: 5px;
        padding-left: 10px;
    }
}
.box{
    width: 200px;
    height: 200px;
    background-color: rgb(236, 235, 235);
    border: 1px solid lightgray;
    border-radius: 10px;
    padding: 10px;
    overflow: hidden;
    margin: 5px;

    .box-body{
        width: 100%;
        height: 100%;
        padding: 5px;
        .tree-head{
            height: 95px;
            .tree-name{
                display: block;
                width:100%;
                font-weight: 700;
                text-overflow: ellipsis;
                white-space: nowrap;
                overflow: hidden;
            } 
            .tree-content{
                font-size: 14px;
                text-align: justify;

                @supports (-webkit-line-clamp: 2) {
                overflow: hidden;
                text-overflow: ellipsis;
                white-space: initial;
                display: -webkit-box;
                -webkit-line-clamp: 3;
                -webkit-box-orient: vertical;
                }
            } 
        }
        
        .tree-alarm{
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            margin-top: 5px;
        }
    }
}
.box:hover, .row:hover{
    cursor: pointer;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.icon,.icon-no-active{
    width: 35px;
    height: 35px;
    font-size: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
    color:white;
    margin-right: 5px;
    margin-bottom: 5px;
    border-radius: 50%;
    background-color: var(--color-green);
}
.icon-no-active{
    color:black;
    background-color:  white;
}
.icon-droplet{
    background-color: rgb(94, 94, 233);
}
.icon-alarm{
    background-color: rgb(221, 221, 39);
}
.icon-error{
    background-color: rgb(230, 72, 72);
}
.bar-mode-view{
    display:flex;
    flex-direction: row-reverse;
    height: 50px;
    margin-bottom: 10px;
}
@media  only screen and (max-width: 600px){
    .side-left{
        display: none;
    }
    .side-right{
        display: block;
    }
    .row{
        height: 85px;
        .row-name{
            width: 40%;
        } 
        .row-content{
            display: none;
            
        } 
        .row-alarms{
            width: 60%;
            min-width: 150px;
        }
    }
}