.Feed {
    padding: 12px;
    width: 100%;

    h1 {
        text-align: center;
    }

    .Post-list {
        padding-bottom: 20px;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 20px;
    }

    .new-post-btn {
        z-index: 3;
        position: fixed;
        bottom: 30px;
        right: 40px;
        width: 50px;
        height: 50px;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #4cb5f9;
        color: #fff;
        border-radius: 50%;
        font-size: 1rem;
        transition: .2s ease;

        &:hover {
            cursor: pointer;
            background-color: #36a9de;
            font-size: 1.2rem;
        }
    }
}