// .register-container {
//     max-width: 400px !important;

//     label {
//         justify-content: left !important;
//     }
// }

.register-background {
    // background: rgb(34,193,195);
    height: 100vh;
    background: rgba(34, 193, 195, 1);

    .register-container {
        width: 400px;
        margin: auto;
        height: 550px;
        border-radius: 10px;
        background-color: white;
        position: absolute;
        top: 0;
        bottom: 0;
        right: 0;
        left: 0;

        .register-content.row {
            padding: 10px;

            .text-register {
                font-weight: 600;
                font-size: 24px;
                padding-top: 10px;
            }

            .register-input {
                margin: 7px 0;

                .custom-input-password {
                    position: relative;

                    i {
                        position: absolute;
                        right: 7px;
                        top: 10px;
                        cursor: pointer;
                    }
                }
            }

            .btn-register {
                width: 100%;
                margin: 10px 0;
                height: 30px;
                border-radius: 15px;
                outline: none;
                border: none;
                background: rgba(34, 193, 195, 1);
                color: white;
                font-size: 16px;
            }

            .forgot-password {
                font-size: 12px;
            }

            .social-register {
                display: flex;
                text-align: center;
                justify-content: center;
                margin-top: 10px;
            }

            .activity {
                cursor: pointer;
            }
        }
    }
}