.NewPost-Container {
    display: flex;
    flex-direction: column;
    opacity: 1;
    background-color: #fff;
    border-radius: 10px;
    overflow: hidden;

    &>.title {
        width: 100%;
        padding: 10px;
        text-align: center;
        font-weight: 500;
        border-bottom: 1px solid #dedede;
        background-color: var(--color-green);
        color: #fff;

        .close-btn {
            position: absolute;
            top: 13px;
            right: 10px;
            width: 20px;
            height: 20px;
            padding: 4px;
            font-size: 10px;
            background-color: #fff;
            border-radius: 50%;
            color: var(--color-green);
            display: flex;
            align-items: center;
            justify-content: center;
            border-radius: 50%;
            cursor: pointer;
        }
    }

    .body {
        height: 520px;
        width: 100%;
        display: flex;
        flex-direction: row;
        overflow: auto;

        // &::-webkit-scrollbar {
        //     display: none;
        // }

        .left-new-post {
            width: 500px;
            height: 100%;
            display: flex;
            // align-items: center;
            justify-content: center;

            .images {
                width: 100%;
                height: 100%;
                padding: 10px;
                display: grid;
                grid-template-columns: calc((100% - 20px)/3) calc((100% - 20px)/3) calc((100% - 20px)/3);
                grid-template-rows: calc((100% - 20px)/3) calc((100% - 20px)/3) calc((100% - 20px)/3);
                gap: 10px;
                overflow-y: auto;

                .image {
                    width: 100%;
                    height: 100%;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    border-radius: 2px;
                    border: 1px solid #eee;

                    .remove-btn {
                        position: absolute;
                        top: 0;
                        right: 0;
                        width: 15px;
                        height: 15px;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        font-size: 7px;
                        border-radius: 50%;
                        transform: translateX(30%) translateY(-30%);
                        background-color: #e32121;
                        color: #fff;

                        &:hover {
                            cursor: pointer;
                            background-color: #f14242;
                            scale: 1.2;
                            transition: .2s;
                        }
                    }

                    img {
                        width: 100%;
                        height: 100%;
                        aspect-ratio: 1/1;
                        object-fit: cover;
                        border-radius: 2px;
                    }
                }

                .add {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    border: 1px dashed var(--color-green);
                    border-radius: 2px;
                    font-size: 2rem;
                    cursor: pointer;
                    aspect-ratio: 1/1;

                    &:hover {
                        background-color: #efefef;
                    }
                }
            }

            &>.photo-btn {
                position: absolute;
                aspect-ratio: 1/1;
                background-color: #fff;
                top: 10px;
                left: 10px;
                display: flex;
                align-items: center;
                justify-content: center;
                font-size: 1.2rem;
                font-weight: 700;
                padding: 5px;
                border-radius: 50%;
                cursor: pointer;
                transition: .2s ease;

                &:hover {
                    transform: scale(1.2);
                }
            }

            .UploadSVG {
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                gap: 10px;
                width: 100%;
                height: 100%;

                &>.title {
                    text-align: center;
                    font-size: 1.2rem;
                }

                &>.upload-btn {
                    display: flex;
                    justify-content: center;

                    p {
                        text-align: center;
                        color: #fff;
                        padding: 3px 15px 5px;
                        border-radius: 4px;
                        background-color: var(--color-green-hover);
                        font-weight: 500;
                        cursor: pointer;

                        &:hover {
                            background-color: #1877f2;
                        }
                    }
                }
            }
        }

        .right-new-post {
            width: 325px;
            background-color: #fff;
            display: flex;
            flex-direction: column;
            border-left: 2px solid #dedede;

            .owner {
                display: flex;
                align-items: center;
                padding: 10px 15px;
                gap: 12px;

                .image {
                    width: 40px;
                    height: 40px;

                    img {
                        width: 100%;
                        height: 100%;
                        border-radius: 50%;
                        object-fit: cover;
                    }
                }

                .name {
                    font-weight: 600;
                    font-size: .9rem;
                }
            }

            .description {
                padding: 5px 15px;
                border-top: 1px solid #dedede;
                border-bottom: 1px solid #dedede;

                textarea {
                    padding: 5px 0;
                    width: 100%;
                    border: none;
                    outline: none;
                    resize: vertical;
                    text-align: justify;
                }
            }

            .options {
                padding: 10px 15px;
                display: flex;
                flex-direction: column;
                gap: 20px;
                font-weight: 500;
                flex: 1;

                .option {
                    font-size: .9rem;
                    font-weight: 400;
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                }
            }

            .post-btn {
                color: #0095f6;
                padding: 10px;
                border-radius: 2px;
                display: flex;
                justify-content: flex-end;
                transition: .2s ease;
                font-size: 1rem;
                font-weight: 500;

                p {
                    margin-bottom: 0;
                }

                p:hover {
                    cursor: pointer;
                    color: #003774;
                }
            }
        }
    }
}