.Comment {
    .comment-item {
        padding: 10px;
        border-radius: 5px;

        &.self {
            background-color: #cdd7ff;
        }

        &.other {
            background-color: #efefef;
        }

        .comment-info {
            width: 100%;
            display: flex;
            gap: 10px;

            .image {

                img {
                    width: 30px;
                    border-radius: 50%;
                    object-fit: cover;
                }
            }

            .comment-content {
                width: 100%;
                font-size: 0.9rem;
                text-align: justify;

                .name {
                    font-weight: 600;
                    margin-right: 10px;
                }

                .time {
                    margin-top: 3px;
                    font-size: .8rem;
                    color: rgb(115, 115, 115);
                }
            }
        }
    }
}