.cm-btn-menu,.cm-btn-menu-active{
    color:white !important;
    font-weight: 600;
    background-color: var(--color-green);
    height: 50px;
    padding-left: 15px;
    padding-right: 15px;
    text-align: center;
    border: none;
    min-width: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    
}
.cm-btn-menu-active{
    border-bottom: 5px solid white;
}
.cm-btn-menu-active:hover{
    text-decoration: none;
}
.cm-btn-menu:hover{
    border-radius: 10px;
    background-color: var(--color-green-hover);
    text-decoration: none;
}