.PostDetail {
    display: flex;
    opacity: 1;
    height: 100%;
    width: 100%;
    border-radius: 3px;
    overflow: hidden;

    .left-image {
        height: 100%;
        width: 70%;
    }

    .right-comment {
        width: 30%;
        background-color: #fff;
        display: flex;
        flex-direction: column;

        .header-comment {
            padding: 5px 15px;
            display: flex;
            align-items: center;

            .post-info {
                width: 100%;
                padding: 5px 0;
                display: flex;
                align-items: center;
                gap: 10px;
                font-size: 1rem;

                .avatar {
                    width: 40px;
                    height: 40px;
                    border-radius: 50%;
                    overflow: hidden;

                    img {
                        width: 100%;
                        object-fit: cover;
                    }
                }

                .name {
                    font-weight: 600;
                }

                .dot {
                    width: 4px;
                    height: 4px;
                    border-radius: 50%;
                    background-color: #ccc;
                    margin: 0 10px;
                    align-self: center;
                }

                .time {
                    opacity: 0.8;
                    font-size: 0.9rem;
                }
            }

            .more {
                cursor: pointer;
                font-size: 1.5rem;
            }
        }

        .description {
            padding: 0 15px 10px;
            border-bottom: 2px solid #efefef;
        }

        .comment-input {
            border-top: 2px solid #c1c1c1;
            display: flex;

            .comment-icon {
                display: flex;
                align-items: center;
                padding: 15px;
            }

            .comment-button {
                padding: 0 15px;
                border: none;
                outline: none;
                background-color: transparent;
                color: dodgerblue;
                font-weight: 700;
                cursor: pointer;
                transition: .2s ease;

                &:hover {
                    color: #00376b;
                }
            }
        }

        .body-comment {
            height: 100%;
            padding: 15px;

            display: flex;
            flex-direction: column;
            gap: 15px;

            overflow-y: scroll;
        }
    }
}