@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&display=swap');

.Sidebar {
    padding: 12px;
    height: 100%;
    display: flex;
    flex-direction: column;
    background-color: var(--color-green);
    color: #fff;

    .nav-list {
        flex: 1;
        display: flex;
        flex-direction: column;
        gap: 15px;
        margin-top: 20px;
        font-weight: 700;
    }

    .nav-item {
        border-radius: 5px;
        text-decoration: none;
        color: #fff;
        overflow: hidden;

        .nav-container {
            display: flex;
            align-items: center;
            gap: 10px;

            .nav-icon {
                padding: 15px;
                font-size: 24px;
                width: 30px;
            }
        }

        .active {
            background-color: var(--color-green-hover);
        }

        &:hover {
            background-color: var(--color-green-hover);
        }


    }

    @media only screen and (max-width: 1076px) {
        .nav-item .nav-text {
            display: none;
        }
    }
}