@import '~bootstrap/scss/bootstrap';
:root {
  --color-green: #0c9869;
  --color-green-hover: #35ad85;
  --color-green-active: #045a3d;
  --bg-gray: rgb(240, 239, 239);
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html, body>#root>div {
  height: 100vh;
  min-width: 250px;
}

* {
  margin: 0;
  padding: 0;
  position: relative;
  box-sizing: border-box;
  border: none;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.App {
  width: 760px;
  margin: 0 auto;
}
.container, .container-fluid, .container-xl, .container-lg, .container-md, .container-sm {
  padding-left: none !important;
  padding-right: none !important;
}
// .container{
//   display: block;
//   text-align: center;
//   justify-content: center;
//   width: 760px;
//   margin: 0 auto;
//   word-break: break-all;
// }

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.cm-form-controls {
  width: 200px;
  border: 1px solid lightgray;
  border-radius: 10px;
  padding: 10px;
  margin: 0px auto;
}

.cm-form-controls button {
  background: #61dafb;
  border: 1px solid lightgray;
  min-height: 35px;
  border-radius: 5px;
  padding: 0px 15px;
  margin: 5px;
}

.cm-invalid {
  color: red;
  font-size: 13px;
}

.cm-form-controls input {
  margin: 5px 0px;
  min-height: 30px;
  min-width: 170px;
  padding: 0px 10px;
}

.cm-form-controls button:hover {
  border: 1px solid rgb(190, 190, 190);
  background: #45bcdd;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}