.pages-lst{
    display: block;
    margin: 10px;
    padding: 10px;
    a{
        text-decoration: none;
    }
}
.box-err-msg{
    width: 500px;
    min-height: 100px;
    margin: 10px auto;
    border: 1px solid lightgray;
    padding: 10px;
    word-break: break-word;
}